/* 
  Global
*/

* {
  box-sizing: border-box;
}

h1, h2 {
  color: #000000cc;
}


html, body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;

  height: 100vh;

  /* FONTE */
  font-family: 'Roboto', sans-serif;

  background-color: #f9f9f9;
}


/* ESTRUTURA */
header, main, footer {
  /* Alinhamento de textos */
  text-align: center;
}

header, .form, main {
  /* Espaçamentos com margin */
  margin: 0 auto 70px;

  /* Limites dos elementos da página */
  width: 90%;
  max-width: 500px;
}

/* HEADER */
header button {
  margin-top: 16px;
  padding: 9px 16px;
  border-radius: 4px;
  border: none;

  background-color: #ff4f4f;
  color: #fff;

  font-weight: bold;
}

/* Titulos */
header h1, main h2 {
  margin-bottom: 70px;
}


main h2 span {
  color: #ff4f4f;
}

.form h2 {
  text-align: right;
  color: #ffffffee;
  font-size: 18px;
}

.logo {
  width: 120px;
  margin: 70px 0;
}

header p {
  font-size: 14px;
}

/* FORM */
section.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 45px;
  align-items: center;


  background-color: #ff4f4f;

  padding: 16px 64px;

  border-radius: 6px;
}

form input,
form button {

  /* Largura */
  width: 100%;

  /* ESPAÇAMENTOS */
  margin-bottom: 4px;


  /* PRENCHIMENTO DO ELEMENTO */
  padding: 8px 16px;

  /* BORDAS */
  border-radius: 4px;
  border: 1px #ffffff88 solid;
}

form input {
  background-color: transparent;
}

form input::placeholder {
  color: #ffffffaa;
}

form button {
  font-weight: bold;
}

/* MAIN */

main .donors{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blood {
  color: #ff4f4f;
  font-weight: bold;
  font-size: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

}

.blood::before {
  content: "";
  background-color: #ff4f4f11;

  width: 40px;
  height: 40px;

  position: absolute;

  /* Fazer a gotinha */
  border-radius: 50%;
  border-top-right-radius: 0;

  transform: rotate(-45deg);
}

.donor p {
  margin-top: 24px;
  margin-bottom: 64px;
  font-size: 14px;
}

/* FOOTER */
footer {
  margin-top: auto;

  padding-bottom: 16px;

  border: 1px solid #eee
}

/* funcionalidades com javascript */

section.form {
  transition: all 300ms;
}

section.form.hide {
  opacity: 0;
  visibility: hidden;
  height: 0;
  margin-top: -70px;
}
